{% load static %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'listings/styles.css' %}"/>
		<title>Merch Brand</title>
	</head>
	<body>
		<nav>
			<div>
				<a href="{% url 'brand-list' %}">Accueil</a>
				<a href="{% url 'about' %}">À propos</a>
				<a href="{% url 'contact' %}">Contact</a>
			</div>
		</nav>
		{% block content %}{% endblock %}
	</body>
</html>
