{% load static %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'listings/styles.css' %}"/>
		<title>Merch Brand</title>
	</head>
	<body>
		<nav>
		    <ul class="topnav">
			    <li><a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Accueil</a></li>
				<li><a class="{% if request.path == '/brands/add/' %}active{% endif %}" href="{% url 'brand-add' %}">Ajouter marque</a></li>
				<li><a class="{% if request.path == '/listings/add/' %}active{% endif %}" href="{% url 'listing-add' %}">Ajouter listing</a></li>
				<li class="right"><a class="{% if request.path == '/about-us/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a></li>
				<li class="right"><a class="{% if request.path == '/contact-us/' %}active{% endif %}" href="{% url 'about' %}">À propos</a></li>
            </ul>
		</nav>
		{% block content %}{% endblock %}
	</body>
</html>
