ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
ul.topnav li {float: left;}

a {
    text-decoration: none;
    color: black;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.topnav li a:hover:not(.active) {
    background-color: #111;
}
  
ul.topnav li a.active {
    background-color: #5d9d1d;
}
  
ul.topnav li.right {
    float: right;
}

.title-div {
    text-align: center;
    margin: 40px 0;
}

.content-div {
    width: 70%;
    margin: auto;
    text-align: center;
}

.content-div {
    display: flex;
    flex-direction: column;
}

.errorlist { 
    margin-bottom: -10px 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.box {
    border: 3px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    margin: 15px auto;
    padding: 50px 30px;
}

.link-button {
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

.link-button-edit {
    background-color: #10b03e;
}

.link-button-delete {
    background-color: #f44336;
}

.button-div, .association-div {
    margin: 30px 0;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}