.title-div {
    text-align: center;
}

.content-div {
    width: 70%;
    margin: auto;
    text-align: center;
}

.content-div {
    display: flex;
    flex-direction: column;
}

.errorlist { 
    margin-bottom: -10px 
}