{% extends "listings/base.html" %}

{% block content %}
<div class="title-div">
		<h1>Les articles</h1>
	</div>

	<div>
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	
	<div class="content-div">
		<div>
			<p>Tous les articles :</p>
		</div>
		<div>
			<ul>
				{% for listing in listings %}
					<li>
						<a href="{% url 'listing-detail' listing.id %}">{{ listing.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}