{% extends "listings/base.html" %}

{% block content %}
	<div>
		<h2>Article :
			{{ listing.name }}</h2>
	</div>

	<div>
		<ul>
			<li><strong>Nom : </strong>
				{{ listing.name }}</li>
			<li><strong>Pays : </strong>
				{{ listing.description }}</li>
			<li><strong>Année de création : </strong>
				{{ listing.year }}</li>
			<li><strong>Active : </strong>
				{{ listing.sold|yesno }}</li>
			<li><strong>Type : </strong>
				{{ listing.type }}</li>
			<li><strong>Marque : </strong>
				{{ listing.creator }}</li>
		</ul>
	</div>

	<div class="button-div">
	    <a class="link-button link-button-edit" href="{% url 'listing-edit' listing.id %}">Modifier l'article</a>
		<a class="link-button link-button-delete" href="{% url 'listing-delete' listing.id %}">Supprimer l'article</a>
	</div>

{% endblock %}
