{% extends "listings/base.html" %}

{% block content %}
	<div class="title-div">
		<h2>Marque :
			{{ brand.name }}</h2>
	</div>

	<div>
		<ul>
			<li><strong>Nom : </strong>
				{{ brand.name }}</li>
			<li><strong>Pays : </strong>
				{{ brand.country }}</li>
			<li><strong>Bio : </strong>
				{{ brand.biography }}</li>
			<li><strong>Année de création : </strong>
				{{ brand.year_created }}</li>
			<li><strong>Active : </strong>
				{{ brand.active|yesno }}</li>
			<li><strong>Page officielle : </strong>
				{% if brand.official_homepage %}
					<span>{{ brand.official_homepage }}</span>
				{% else %}
					<span>Non renseigné</span>
				{% endif %}
			</li>
			<li><strong>Créateur : </strong>
				{% if brand.creator %}
					<span>{{ brand.creator }}</span>
				{% else %}
					<span>Non renseigné</span>
				{% endif %}
			</li>
		</ul>

        <div class="association-div">
		    {% if brand.listing_set.all|length > 0 %}
				<h4>Articles associés :</h4>
				<ul>
					{% for listing in brand.listing_set.all %}
						<li><a href="{% url 'listing-detail' listing.id %}">{{ listing.name }}</a></li>
					{% endfor %}
				</ul>
		    {% else %}
			    Aucun articles associés
		    {% endif %}
		</div>

	</div>

	<div class="button-div">
	    <a class="link-button link-button-edit" href="{% url 'brand-edit' brand.id %}">Modifier la marque</a>
		<a class="link-button link-button-delete" href="{% url 'brand-delete' brand.id %}">Supprimer la marque</a>
	</div>

{% endblock %}
