{% extends "listings/base.html" %}

{% block content %}
	<div>
		<h2>Marque :
			{{ brand.name }}</h2>
	</div>

	<div>
		<ul>
			<li>Nom :
				{{ brand.name }}</li>
			<li>Pays :
				{{ brand.country }}</li>
			<li>Bio :
				{{ brand.biography }}</li>
			<li>Année de création :
				{{ brand.year_created }}</li>
			<li>Active :
				{{ brand.active|yesno }}</li>
			<li>Page officielle :
				{% if brand.official_homepage %}
					<span>{{ brand.official_homepage }}</span>
				{% else %}
					<span>Non renseigné</span>
				{% endif %}
			</li>
			<li>Créateur :
				{% if brand.creator %}
					<span>{{ brand.creator }}</span>
				{% else %}
					<span>Non renseigné</span>
				{% endif %}
			</li>
		</ul>

		{% if brand.listing_set.all|length > 0 %}
			<div>
				<h4>Articles associés :</h4>
				<ul>
					{% for listing in brand.listing_set.all %}
						<li>{{ listing.name }}</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			Aucun articles associés
		{% endif %}

	</div>

	<div>
	    <a href="{% url 'brand-edit' brand.id %}">Modifier la marque</a>
		<a href="{% url 'brand-delete' brand.id %}">Supprimer la marque</a>
	</div>

{% endblock %}
