{% extends "listings/base.html" %}

{% block content %}
	<div class="title-div">
		<h1>Les marques</h1>
	</div>
	<div>
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="content-div">
	    <div>
			<p>Toutes les marques :</p>
		</div>
		{% for brand in brands %}
			<div class="box">
				<a href="{% url 'brand-detail' brand.id %}">{{ brand.name }}</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
