{% extends "listings/base.html" %}

{% block content %}
	<div class="title-div">
		<h1>Les marques</h1>
	</div>
	<div>
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="content-div">
		<div>
			<p>Les marques préférées sont :</p>
		</div>
		<div>
			<ul>
				{% for brand in brands %}
					<li>
						<a href="{% url 'brand-detail' brand.id %}">{{ brand.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
